<app-search></app-search>
<div fxFlex>
    <div fxLayout="row"
         align="center"
         fxLayoutGap="15px">
        <div *ngFor="let pokemon of listOfPoke"
             class="div--display">
            <button mat-stroked-button
                    (click)="goToDetails(pokemon.id)">{{pokemon.name}}</button>
        </div>

    </div>
    <div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row"
         align="center"
         fxLayoutGap="15px">
        <app-pagination *ngIf="numberOfResults !== 0"
                        [numberOfResults]="numberOfResults"
                        [resultsPerPage]="limit"
                        (setParams)="getParams($event)"></app-pagination>
    </div>
</div>